body {
     background-color: white;
     line-height: 1;
     font-family: Poppins;
     margin: 0px;
}

.wrapper {
     font-size: 18px;
     line-height: 1.5;
}

header {
     background-color: #f5f5f5;
     text-align: center;
     border-bottom: 0px solid;
     display: flex;
     justify-content: center;
     align-items: center;
}

.header-first-column {
     width: 100%;
     background: white;

}

.header__menu {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     list-style: none;
     font-weight: bold;
     font-size: 1.3rem;
}
.header__menu-item a {
     color: rgb(145, 80, 165);
}

.header__menu-item :hover {
     color: blueviolet;
}

h1,
h2 {
     background: radial-gradient(53.87% 5889.12% at 34.59% 38.82%, #6e278f 0, #D8BFD8 100%);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
}

header h1 {
     margin-bottom: 10px;
     font-size: 4rem;
     font-weight: 700;
     line-height: 1.1;
     letter-spacing: 7px;
     text-align: center;
}

header h2 {
     font-size: 17px;
     letter-spacing: 2px;
     text-align: center;
}

.title {
     width: 150px;
     margin: 30px auto;
     text-align: center;
     color: #f5f5f5;
     background-color: #808080;
     border-radius: 10px;
     cursor: pointer;
}

ul {
     list-style-type: circle;
}

.info li {
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-items: center;
}

.text {
     flex: 1;
     max-width: calc(100% - 50px);
     box-sizing: border-box;
     padding: 0 30px 0 10px;
     white-space: nowrap;
     transition: color 0.8s;
     color: rgb(0, 0, 0);
}

.info a {
     margin: 18px 0px;
}

.text:hover {
     cursor: pointer;
     color: white;
}

.two-columns {
     display: flex;
     margin: 0;
     padding: 0;
     border: 0;
}

.left-column {
     width: 300px;
     background-color: #D8BFD8;
}

.right-column {
     width: 70%;
     padding: 40px;
}

.right-column p {
     padding-left: 50px;
}

.profile-header {
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-start;
}

.right-column img {
     padding-right: 20px;
}

h3 {
     margin: 0;
     border-bottom: 3px solid;
     border-color: #D8BFD8;
}

pre {
     border-radius: 15px;
     box-shadow: 10px 5px 5px #808080;
     padding-left: 30px;
     padding-right: 30px;
     font-size: 14px;
     background-color: #f5f5f5
}

a {
     text-decoration: none;
     transition: color 0.8s;
}

footer {
     display: flex;
     align-items: center;
     justify-content: space-around;
     background: rgb(113, 73, 121);
     background: linear-gradient(0deg, rgba(113, 73, 121, 1) 0%, rgba(255, 255, 255, 1) 100%);
     padding: 10px;
     color: black;
}

.footer-link {
     display: flex;
     justify-content: center;
}