body{
    box-sizing: border-box;
    background-color: #D8BFD8;
    line-height: 1;
    font-family: Poppins;
}
header {
    background-color: #E6E6FA;
}
 header h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 7px;
    text-align: center;

 }
 header h2 {
    font-size: 17px;
    letter-spacing: 2px; 
    text-align: center;
 }

 main h3 {
     width: 150px;
     margin: 30px auto;
     text-align: center;
     color: #f5f5f5;
     background-color: #808080;
     border-radius: 10px;
}

ul {
    list-style: none;
}
li p {
    margin: 0px;
}
li img {
    vertical-align: middle;
    margin-right: 15px;
}
 .wrapper {
     margin: 0px;
     width: 100vw;
     font-family: Verdana, Tahoma, sans-serif;
     font-size: 18px;
     line-height: 1.5;
 }
.two-columns {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    
}
  
.left-column {
    width: 30%;
}
.right-column {
    width: 70%;
    padding: 40px;
}
pre {
    border-radius: 15px;
    box-shadow: 10px 5px 5px #808080;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    background-color: #f5f5f5
    
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #808080;
}
